<!DOCTYPE html>
<html lang="en">
<head>
  <style>

footer{
  
  color: #fff;
}

.card-img-top{
  height: 250px;
}

  </style>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<title>About Us</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
</head> 
<body>
    <header>
        <nav class="navbar  navbar-expand-lg navbar-dark  bg-primary">
        <a class="navbar-brand" href="#"><strong>About Us</strong></a>
        
      </nav>
       </header> 
       
       <div class="jumbotron">
        <h1 class="display-3">About Us</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
                        calling extra attention to featured content or information.</p>
        <hr class="my-2">
        <p>It uses utility classes for typography and
           spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#!" role="button">Some action</a>
        </p>
      </div>
      <div class="container-fluid">
     
      <div class="container">
        <h1 class="display-4 text-md-left">Our Project Coordinator</h1>
        <div class="card mb-3 align-self-center" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="anunay sir.jpg" class="card-img" alt="sir">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Prof. Anunay Ghosh</h5>
                <p class="card-text">Asst. Professor Modern Institute of Engineering & Technology,CSE Department</p>
                <p class="card-text"><small class="text-muted">mob-7980103067,mail-me.annunoy@gmail.com</small></p>
              </div>
            </div>
          </div>
        </div>
        
        <hr>
        <div class="container">
        <h1 class="display-4 text-center">Our Project Team</h1>

        <div class="row row-cols-1 row-cols-md-4 ">
            <div class="col mb-4">
       
       
                <div class="card">
                 
                  <img class="card-img-top " src="suman2.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">SUMAN MONDAL</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            <div class="col mb-4">
       
       
                <div class="card ">
                 
                  <img class="card-img-top " src="souma.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">SOUMADEEP GHOSH</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            <div class="col mb-4">
       
       
                <div class="card ">
                 
                  <img class="card-img-top " src="saikot.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">SAIKAT ROY</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            <div class="col mb-4">
       
       
                <div class="card">
                 
                  <img class="card-img-top " src="spandan.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">SPANDAN BANERJEE</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            <div class="col mb-4">
       
       
                <div class="card ">
                 
                  <img class="card-img-top " src="namrata.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">NAMRATA CHAKRABORTY</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            <div class="col mb-4">
       
       
                <div class="card ">
                 
                  <img class="card-img-top " src="sws.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">SWAKSHAR<br>      
                       KUMAR</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            <div class="col mb-4">
       
       
                <div class="card ">
                 
                  <img class="card-img-top " src="subho.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">SUBHAJIT CHOWDHURY</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            <div class="col mb-4">
       
       
                <div class="card ">
                 
                  <img class="card-img-top " src="pritam.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">PRITAM <br> SARKAR</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            <div class="col mb-4">
       
       
                <div class="card ">
                 
                  <img class="card-img-top " src="bikram.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">BIKRAM SIDHANT</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            <div class="col mb-4">
       
       
                <div class="card ">
                 
                  <img class="card-img-top " src="suvam.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title blockquote "><p class="mb-0">SUVAM CHATTERJEE</p></h4>
                    
                    <p class="card-text blockquote-footer">
                      Modern Institute Of Engineering & Technology,B.Tech,2nd Year,CSE
                    </p>
                 
                  </div>
                  
                </div>
            </div>
            
            
      </div>


      </div>

   
      </div>
      </div>

             <footer>
              <div class="page-footer font-small teal pt-4 bg-primary">
              <div class="container-fluid text-center text-md-left">
                <div class="row">
                  <div class="col-md-6 mt-md-0 mt-3">
                    
                        <h5 class="text-uppercase">About Us</h2>
                     
                      <p>We are B.tech 2nd year Student</p>
                    </div>
                 
                  
                  
                  <hr class="clearfix w-100 d-md-none pb-3">
                  <div class="col-md-3 mb-md-0 mb-3">
                   
                        <h5 class="text-uppercase">More Information</h5>
                      
                      <ul class="list-unstyled ">
                        <li>Phone: <a class="text-dark" href="#"> 918116787628</a></li>
                        <li>Email: <a class="text-dark" href="#">mail@company.com</a></li>
                        <li>Support: <a class="text-dark" href="#">support@company.com</a></li>
                        <li>Website: <a class="text-dark" href="#">www.company.com</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3">
                   
                      <h5 class="text-uppercase">Connect</h5>
                    
                    <ul class="list-unstyled">
                      <li>Our Team <a href="#"></a></li>
                      <li>Project Github <a href="#"></a></li>
                      <li>Contact <a href="#"></a></li>
                      
                    </ul>
                    </div>
                    </div>
                  </div>
                  
                  </div>
                 
                  <div class="footer-copyright text-center bg-secondary">
                    <p>Copyright &copy; 2020 FakeNewsDetector
              - Designed by <a rel="nofollow" href="">Suman Mondal</a></p>
                  </div>
              </div>
             
            </footer>  
                                   
</body>

</html>

